/* ===== Google Font Import - Poppins ===== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

/*boshqa csslardi shu link orqali ulash mumkin*/

@import url(font.css);
@import url(index_home.css);
@import url(header.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Poppins';
    background-color: #D2D2D2;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
}

main {
    flex-grow: 1;
    margin-top: 100px;
}

img {
    display: flex;
    margin-bottom: 0;
}

a {
    color: #333333;
}

::selection {
    background: #000000;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #433f3f;
}

::-webkit-scrollbar-thumb {
    background: #858585fd;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffffb4;
    cursor: grab;
}

::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

#page {
    position: relative;
}

#page:before {
    width: 100%;
    height: 2px;
    color: #fff;
    position: absolute;
    bottom: 3px;
}