@import "tailwindcss";
@import "tw-animate-css";

.custom-container{
  max-width: 1400px !important;
  width: 100% !important;
  margin: 0 auto !important;
}
.min-container{
  max-width: 1250px !important;
  width: 100% !important;
  margin: 0 auto !important;
}
.bg-hero{
  background:  url(/public/bg-hero.png) no-repeat !important;
}